      /*tooltip Box*/
      .my-tooltip {
        position: relative;
        display: inline-block;
      
      }
      
      /*tooltip */
      .tooltip {
        visibility: hidden;
        z-index: 1;
        opacity: .40;
        
        width: auto;
        padding: 0px 20px;
      
        background: white;
        color: #333;
        
        position: absolute;
        top:-140%;
        left: -25%;
        
      
        border-radius: 9px;
        font: 16px;
      
        transform: translateY(9px);
        transition: all 0.3s ease-in-out;
        
        box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
      }
      .tooltip p{
        white-space: nowrap;
        margin: 8px 0;
      }
      
      /* tooltip  after*/
      .tooltip::after {
        content: " ";
        width: 0;
        height: 0;
        
        border-style: solid;
        border-width: 12px 12.5px 0 12.5px;
        border-color: #fff transparent transparent transparent;
      
        position: absolute;
        left: 40%;
      
      }
      
      .my-tooltip:hover .tooltip{
        visibility: visible;
        transform: translateY(-10px);
        opacity: 1;
          transition: .3s linear;
      
      }
      @keyframes odsoky {
        0%{
          transform: translateY(6px);	
        }
      
        100%{
          transform: translateY(1px);	
        }
      
      }
      
      /*hover ToolTip*/
      
      .bottom .tooltip { top: 55px;
        left: -42px;}
      
      .bottom .tooltip::after{
        top:-17%;
        left:40%;
       
        transform: rotate(180deg);
      }