body {
  font-size: 15px; }

.btn-comon, .login-wrapper .login-btn {
  -webkit-appearance: button-bevel;
  padding: 15px 20px;
  background-color: #021244;
  border-radius: 130px;
  font-size: 16px;
  color: #fff; }

/* === main home =====*/
.form-control:focus {
  color: #333;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #8fc05682; }

.brand-wrapper {
  padding-top: 7px;
  padding-bottom: 8px;
  margin-bottom: 20px; }
  .brand-wrapper .logo {
    height: 100px; }

.login {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff; }
  .login .col-sm-6 {
    padding: 0; }
  .login-section-wrapper {
    display: flex;
    padding: 68px 100px;
    margin-top: 150px; }
    @media (max-width: 991px) {
      .login-section-wrapper {
        padding-left: 50px;
        padding-right: 50px; } }
    @media (max-width: 575px) {
      .login-section-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 100vh; } }
  .login-wrapper {
    width: 350px;
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 24px; }
    @media (max-width: 575px) {
      .login-wrapper {
        width: 100%; } }
    .login-wrapper label {
      font-size: 14px;
      color: #333; }
    .login-wrapper .form-control {
      border: 1px solid #E5E5E5;
      border-radius: 0;
      padding: 9px 10px;
      min-height: 45px;
      font-size: 14px;
      font-weight: normal; }
      .login-wrapper .form-control::placeholder {
        color: #b0adad; }
    .login-wrapper .login-btn {
      margin-bottom: 14px;
      margin-top: 25px;
      text-transform: uppercase; }
      .login-wrapper .login-btn:hover {
        color: white;
        background-color: #90C156; }
    .login-wrapper a.forgot-password-link {
      color: #777;
      font-size: 14px;
      display: block;
      margin-bottom: 54px;
      text-align: center; }
      .login-wrapper a.forgot-password-link:hover {
        text-decoration: none; }
      @media (max-width: 575px) {
        .login-wrapper a.forgot-password-link {
          margin-bottom: 16px; } }
    .login-wrapper-footer-text {
      font-size: 16px;
      color: #333;
      margin-bottom: 0; }
  .login-title {
    font-size: 30px;
    color: #333;
    font-weight: bold;
    margin-bottom: 25px; }
  .login-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: left; }
  .login .custom-control-label {
    color: #777 !important; }

/* === main home =====*/
.main-home {
  background-color: #F5F7F9; }
  .main-home .content {
    margin-top: 40px; }
    .main-home .content ul {
      margin: 0;
      padding: 0 10px;
      position: relative;
      width: 100%;
      display: inline-block; }
      .main-home .content ul li {
        list-style: none;
        display: inline-block;
        width: 25%;
        padding: 0 10px;
        margin-bottom: 20px;
        text-align: center; }
        .main-home .content ul li a {
          border: 1px solid #D4DEBD;
          width: 100%;
          display: inline-block;
          background: #fff;
          border-radius: 4px;
          transition: all .2s;
          padding: 25px 10px;
          box-shadow: 0px 1px 7px #E5E5E5; }
          .main-home .content ul li a:hover {
            background: rgba(144, 193, 86, 0.06);
            border: 1px solid #90C156; }
          .main-home .content ul li a span {
            text-transform: uppercase;
            color: #021244;
            display: inline-block;
            width: 100%;
            font-weight: 600;
            margin-top: 5px; }
  .main-home .head {
    background-color: #021244;
    min-height: 50px;
    position: relative;
    z-index: 9999; }
    .main-home .head .logo img {
      width: 65px;
      margin: 10px 15px; }
    .main-home .head .option-right {
      position: fixed;
      display: flex;
      right: 20px;
      top: 8px; }
      .main-home .head .option-right .choose-company {
        background-color: transparent; }
        .main-home .head .option-right .choose-company:focus {
          outline: 0;
          box-shadow: none; }
      .main-home .head .option-right .acc {
        background-color: transparent; }
        .main-home .head .option-right .acc:focus {
          outline: 0;
          box-shadow: none; }
        .main-home .head .option-right .acc .dropdown-menu {
          background-color: #fff; }
      .main-home .head .option-right .my-company .dropdown-menu {
        background-color: white;
        top: 15px !important;
        width: 340px;
        height: 430px;
        padding: 20px 5px; }
      .main-home .head .option-right .my-acc .dropdown-menu {
        top: 15px !important;
        background-color: #fff; }
      .main-home .head .option-right .dropdown-item {
        color: #333;
        display: initial;
        padding: 10px 18px; }
        .main-home .head .option-right .dropdown-item:hover {
          background-color: transparent; }
        .main-home .head .option-right .dropdown-item img {
          width: 70px;
          margin-bottom: 18px; }
    .main-home .head .dropdown-toggle:after {
      display: none; }
    .main-home .head .show .tooltip {
      display: none !important; }

/* Responsive */
@media only screen and (max-width: 767px) {
  .main-home .content ul li {
    width: 50%; }

  .login-img {
    display: none; }

  .login-section-wrapper {
    padding: 0 30px;
    margin-top: 0;
    height: 100% !important;
    display: flex;
    align-items: center !important; }

  .login .col-sm-6 {
    position: absolute;
    height: 100%; } }

/*# sourceMappingURL=style.css.map */
