$color-brand: #90C156;
$color-brand2: #021244;
$color-text: #333;
$color-description: #777;
$border: #E5E5E5;
$backgr:#F5F7F9;
body {
	font-size: 15px;
}

@mixin hover {
	&:hover {
		color: white;
		background-color: $color-brand;
	}
}

@mixin focus {
	&:focus {
		color: #333;
		background-color: #fff;
		outline: 0;
		box-shadow: 0 0 0 0.1rem #8fc05682;
	}
}

.btn-comon {
  -webkit-appearance: button-bevel;
	padding: 15px 20px;
	background-color: $color-brand2;
	border-radius: 130px;
	font-size: 16px;
	color: #fff;
}


/* === main home =====*/

.form-control {
	@include focus();
}

.brand-wrapper {
	padding-top: 7px;
  padding-bottom: 8px;
  margin-bottom: 20px;
	.logo {
		height: 100px;
	}
}

.login {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
	.col-sm-6 {
		padding: 0;
	}
	&-section-wrapper {
		display: flex;
		padding: 68px 100px;
		margin-top: 150px;
		@media (max-width: 991px) {
			padding-left: 50px;
			padding-right: 50px;
		}
		@media (max-width: 575px) {
			padding-top: 20px;
			padding-bottom: 20px;
			min-height: 100vh;
		}
	}
	&-wrapper {
		width: 350px;
		max-width: 100%;
		padding-top: 24px;
		padding-bottom: 24px;
		@media (max-width: 575px) {
			width: 100%;
		}
		label {
			font-size: 14px;
			color: $color-text;
		}
		.form-control {
			border: 1px solid $border;
			border-radius: 0;
			padding: 9px 10px;
			min-height: 45px;
			font-size: 14px;
			font-weight: normal;
			&::placeholder {
				color: #b0adad;
			}
		}
		.login-btn {
			@extend .btn-comon;
      margin-bottom: 14px;
      margin-top: 25px;
      	text-transform: uppercase;
			@include hover();
		}
		a.forgot-password-link {
			color: $color-description;
			font-size: 14px;
			display: block;
			margin-bottom: 54px;
			text-align: center;
			&:hover {
				text-decoration: none;
			}
			@media (max-width: 575px) {
				margin-bottom: 16px;
			}
		}
		&-footer-text {
			font-size: 16px;
			color: $color-text;
			margin-bottom: 0;
		}
	}
	&-title {
		font-size: 30px;
		color: $color-text;
		font-weight: bold;
		margin-bottom: 25px;
	}
	&-img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		object-position: left;
	}
	.custom-control-label {
		color: $color-description!important;
	}
}


/* === main home =====*/

.main-home {
	background-color: $backgr;
	.content {
		margin-top: 40px;
		ul {
			margin: 0;
			padding: 0 10px;
			position: relative;
			width: 100%;
			display: inline-block;
			li {
				list-style: none;
				display: inline-block;
				width: 25%;
				padding: 0 10px;
				margin-bottom: 20px;
				text-align: center;
				a {
					border: 1px solid #D4DEBD;
					width: 100%;
					display: inline-block;
					background: #fff;
					border-radius: 4px;
					transition: all .2s;
					padding: 25px 10px;
					box-shadow: 0px 1px 7px #E5E5E5;
					&:hover {
						background: rgba(144, 193, 86, 0.06);
						border: 1px solid $color-brand;
					}
					span {
						text-transform: uppercase;
						color: $color-brand2;
						display: inline-block;
						width: 100%;
						font-weight: 600;
						margin-top: 5px;
					}
				}
			}
		}
	}
	.head {
		background-color: $color-brand2;
		min-height: 50px;
		position: relative;
		z-index: 9999;
		.logo {
			img {
				width: 65px;
				margin: 10px 15px;
			}
		}
		.option-right {
			position: fixed;
			display: flex;
			right: 20px;
			top: 8px;
			.choose-company {
				background-color: transparent;
				&:focus {
					outline: 0;
					box-shadow: none;
				}
			}
			.acc {
				background-color: transparent;
				&:focus {
					outline: 0;
					box-shadow: none;
				}
				.dropdown-menu {
					background-color: #fff;
				}
			}
			.my-company {
				.dropdown-menu {
					background-color: white;
					top: 15px !important;
          width: 340px;
          height: 430px;
					padding: 20px 5px;
				}
			}
			.my-acc {
				.dropdown-menu {
					top: 15px !important;
					background-color: #fff;
				}
			}
			.dropdown-item {
        color:$color-text;
        display: initial;
        padding: 10px 18px;
        
				&:hover {
					background-color: transparent;
				}
				img {
					width: 70px;
          margin-bottom: 18px;
				}
			}
		}
		.dropdown-toggle {
			&:after {
				display: none;
			}
		}
		.show {
			.tooltip {
				display: none !important;
			}
		}
	}
}

/* Responsive */

@media only screen and (max-width: 767px) {
  .main-home {
    .content {
      ul {
        li {
          width: 50%;
      }
      }
    }
  }
	.login-img {
		display: none;
  }
  .login-section-wrapper{
    padding: 0 30px;
    margin-top: 0;
    height: 100% !important;
    display: flex;
    align-items: center !important;
  }
  .login{
    .col-sm-6{
      position: absolute;
      height: 100%;
    }
  }
}
